@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Righteous");

$white: white;
// $grey: rgb(157, 152, 152);
$grey: #f0f5f8;
$green: rgb(93, 207, 71);
$grey-light: linear-gradient(120deg, rgb(241, 241, 241), rgb(226, 226, 226));
$red: rgb(200, 65, 65);
$orange: rgb(221, 157, 37);
$dark-orange: rgb(154, 100, 0);
$normal-font: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue";
$RobotoSlab: "Roboto Slab", serif;
$Righteous: "Righteous", cursive;
$border-radius: 20px;
